html, body {
    background-color: hsl(233, 8%, 79%);
    display: flex;
    align-items: center;
    justify-content: center;

  }
  

.container {
    background-color:  hsl(36, 100%, 99%);
    width: 385px;
    margin: 2rem;
    padding: 0px;
    
  }


  @media screen and (min-width: 900px) {

    .container {
      background-color:  hsl(36, 100%, 99%);
      width: auto;
      max-width: 1440px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      padding: 0rem 3rem;
      grid-column-gap: 1rem;
    }

    
  }

